{% extends "base.html" %}

{% block titulo %}
    Plataforma
{% endblock titulo %}

{% block header %}
    {% include "partials/navbar.html" %}
{% endblock %}

{% block conteudo %}
    <div class="container mt-5">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <h1 class="mb-4">Lista de Notícias</h1>
        {% if noticias %}
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Categoria</th>
                        <th>Data de Publicação</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for noticia in noticias %}
                        <tr>
                            <td>{{ noticia.titulo }}</td>
                            <td>{{ noticia.categoria.nome }}</td>
                            <td>{{ noticia.data_publicacao|date:"d/m/Y H:i" }}</td>
                            <td>
                                {% if noticia.status == 'PU' %}
                                    Publicada
                                {% elif noticia.status == 'AN' %}
                                    Em análise
                                {% else %}
                                    Desconhecido
                                {% endif %}
                            </td>
                            <td><a class="btn btn-outline-info" href="{% url 'login' %}">Editar</a></td>
                            <td>
                                <form action="{% url 'excluir_noticia' noticia.id %}" method="POST" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-danger">Excluir</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Não há notícias disponíveis. Comece a <a href="{% url 'criar_artigo' %}"> escrever </a></p>
        {% endif %}
    </div>
{% endblock %}
