{% extends 'base.html' %}
{% block titulo %}
    Escrever Notícia
{% endblock %}
{% block header %}
  {% include "partials/navbar.html" %}
{% endblock %}

{% block conteudo %}
<div class="container my-5" style= "max-width: 1100px;">
  {% if messages %}
    {% for message in messages %}
      <div class="alert {{ message.tags }}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
  
  <h1>Escrever Notícia</h1>
  
  <form id="form_noticia" action="{% url 'escrever_noticia' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
    
    <div class="form-group">
      <label for="titulo">Título</label>
      <input type="text" class="form-control my-2" id="titulo" name="titulo" required />
    </div>
    
    <div class="form-group">
      <label for="subtitulo">Subtítulo</label>
      <input type="text" class="form-control my-2" id="subtitulo" name="subtitulo" required />
    </div>
    
    <div class="form-group">
      <label for="capa">Capa</label>
      <input type="file" class="form-control my-2" id="capa" name="capa" />
    </div>
    
    <div class="form-group">
      <label for="categoria">Categoria</label>
      <select class="form-control my-2" id="categoria" name="categoria" required>
        {% for categoria in categorias %}
          <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
        {% endfor %}
      </select>
    </div>
    
    <input type="hidden" id="conteudo_hidden" name="conteudo">
    
    <div class="form-group conteudo_container my-2" style="text-align: justify; width: 100%;">
      <label for="conteudo" class = "my-2">Conteúdo</label>
     
      <div id="toolbar">
        <select class="ql-header" title="Cabeçalhos">
          <option value="1">H1</option>
          <option value="2">H2</option>
          <option value="3">H3</option>
          <option selected></option> 
      </select>
        <button class="ql-bold" title="Negrito" type="button"></button>
        <button class="ql-italic" title="Itálico"  type="button"></button>
        <button class="ql-underline" title="Sublinhado" type="button"></button>
        <button class="ql-strike" title="Tachado" type="button"></button>
        <button class="ql-blockquote" title="Citação" type="button"></button>
        <button class="ql-code-block" title="Bloco de código" type="button"></button>
        <button class="ql-link" title="Link"></button>
        <button class="ql-image" title="Imagem" type="button"></button>
        <button class="ql-list"title="Lista ordenada"  value="ordered" type="button"></button>
        <button class="ql-list" title="Bullet points" value="bullet" type="button"></button>
        <button class="ql-clean" title="Limpar formatação" type="button"></button>
      </div>
      <div id="conteudo" style="height: 700px;"></div>
    </div>

    <button type="button" class="btn btn-outline-primary my-2 w-100" onclick="enviarFormulario()">Publicar</button>
  </form>
</div>

<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>

<script>
  const quill = new Quill("#conteudo", {
    modules: {
      toolbar: "#toolbar",
    },
    placeholder: "No que você está pensando hoje?",
    theme: "snow"
  });

  const toolbar = quill.getModule('toolbar');
    toolbar.addHandler('link', () => {
        const range = quill.getSelection();
        if (range) {
            const url = prompt('Insira a URL do link:');
            if (url) {
                const text = quill.getText(range.index, range.length);
                if (text) {
                    quill.format('link', url); 
                } else {
                    alert('Por favor, selecione o texto para aplicar o link.');
                }
            }
        }
    });

    toolbar.addHandler('image', () => {
      const url = prompt('Por favor, insira a URL da imagem:');
      
      if (url) {
          const range = quill.getSelection();
          quill.insertEmbed(range.index, 'image', url);
  
          // Seleciona todas as imagens e aplica a classe responsive-image
          const imgs = quill.root.querySelectorAll('img'); 
          imgs.forEach((img) => {
              img.classList.add('responsive-image'); 
          });
      }
  });;
  function enviarFormulario() {

    document.getElementById('conteudo_hidden').value = quill.root.innerHTML;

    const form = document.getElementById('form_noticia');


    const formData = new FormData(form);


    fetch(form.action, {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value 
      }
    })
    .then(response => {
      if (!response.ok) {
        throw new Error('Erro na requisição: ' + response.statusText);
      }
      return response.text(); 
    })
    .then(data => {

      document.body.innerHTML = data;  
    })
    .catch(error => {
      console.error('Erro:', error);
    });
  }


</script>
{% endblock %}
