{% extends "base.html" %} {% block header %} {% include "partials/navbar.html"%} {% endblock %} 
{% block titulo %} {{ noticia.titulo }} {% endblock %} 
{% block conteudo %}

<div class="container mt-5 mx-auto"  style="text-align: justify; max-width: 900px;">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{message.tags}}" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <h1>{{ noticia.titulo }}</h1>
    <div class="d-flex">
        <div class="flex-shrink-0 w-100">
            {% if noticia.capa %}
            <img
            src="{{ noticia.capa.url }}"
            alt="{{ noticia.titulo }}"      
            class="img-fluid w-100"
            style="height: 300px; object-fit: cover"
            />
            {% endif %}
        </div>
    </div>

    <h2 class="h4">{{ noticia.subtitulo }}</h2>
    <hr>
    <div class = "flex-grow-1" >{{noticia.conteudo |safe }}</div>
  </div>
</div>
{% endblock %}
